In [1]:
a={}
type(a)

dict

In [2]:
a=dict()
type(a)

dict

In [10]:
a["Tom"]="a cat"
a["Jerry"]="a mouse"
print(a)

{'Tom': 'a cat', 'Jerry': 'a mouse'}

In [11]:
a['Tom']

'a cat'

In [12]:
a['Tom']="two cats"
a

{'Jerry': 'a mouse', 'Tom': 'two cats'}

In [13]:
print(a)

{'Tom': 'two cats', 'Jerry': 'a mouse'}

In [14]:
e1 = {'mag': 0.05, 'width': 20}
e2 = {'mag': 0.04, 'width': 25}
e3 = {'mag': 0.05, 'width': 80}
e4 = {'mag': 0.03, 'width': 30}
events = {500: e1, 760: e2, 3001: e3, 4180: e4}
events

{500: {'mag': 0.05, 'width': 20},
 760: {'mag': 0.04, 'width': 25},
 3001: {'mag': 0.05, 'width': 80},
 4180: {'mag': 0.03, 'width': 30}}

In [16]:
person=dict([('Tom',1),('Jerry',2)])
person

{'Jerry': 2, 'Tom': 1}

In [17]:
person['Tom']+=3
person

{'Jerry': 2, 'Tom': 4}

In [18]:
data={}
data[2+3.3]=7
data[5.3]

7

In [19]:
data

{5.3: 7}

In [20]:
person

{'Jerry': 2, 'Tom': 4}

In [21]:
print(person.get("Jerry"))

2

In [23]:
print(person.get("Jane"))

None

In [24]:
person.get("Jane","8")

'8'

In [25]:
person.pop("Jerry")
person

{'Tom': 4}

In [26]:
person.pop("Jane",8)

8

In [28]:
del person["Tom"]
person

{}

In [29]:
person["Tom"]=1
person["Jane"]=2
person["Jerry"]=3
person

{'Jane': 2, 'Jerry': 3, 'Tom': 1}

In [30]:
person_update={'Jerry':'3333','Julie':5}
person.update(person_update)
print(person)

{'Tom': 1, 'Jane': 2, 'Jerry': '3333', 'Julie': 5}

In [31]:
print('Tom' in person)

True

In [32]:
print('3333' in person)

False

In [33]:
person.keys()

dict_keys(['Tom', 'Jane', 'Jerry', 'Julie'])

In [34]:
person.values()

dict_values([1, 2, '3333', 5])

In [35]:
person.items()

dict_items([('Tom', 1), ('Jane', 2), ('Jerry', '3333'), ('Julie', 5)])