In [1]:
m=[0,2.3,'Tom']
print(m)

[0, 2.3, 'Tom']

In [2]:
empty_list=[]
empty_list

[]

In [3]:
len(m)

3

In [4]:
a=[0,1,2]
b=[5.5,'Jerry']
a+b

[0, 1, 2, 5.5, 'Jerry']

In [6]:
a*2

[0, 1, 2, 0, 1, 2]

In [7]:
a=[1,2,55,88,22,3.2]
a[3]

88

In [8]:
a[:2]

[1, 2]

In [9]:
s="Good job"
s[0]='m'

TypeError: 'str' object does not support item assignment

In [10]:
a

[1, 2, 55, 88, 22, 3.2]

In [12]:
a[0]=0
a

[0, 2, 55, 88, 22, 3.2]

In [14]:
a[:2]=[11,22]
a

[11, 22, 55, 88, 22, 3.2]

In [15]:
a[:3]=[]
a

[88, 22, 3.2]

In [19]:
a=[0,2,55,89,6,22]
a[::2]=[1,1,1]
a

[1, 2, 1, 89, 1, 22]

In [20]:
del a[0]
a

[2, 1, 89, 1, 22]

In [21]:
del a[::2]
a

[1, 1]

In [1]:
a=[0,1.2,35,'Tom']
print(7 in a)
print("tom" in a)
print('Tom' in a)

False
False
True

In [2]:
s="Tom and Jerry"
print('m' in s)
print('and'in s)

True
True

In [7]:
b=[5,'Jerry',[4,6]]
c=a+b
c

[0, 1.2, 35, 'Tom', 5, 'Jerry', [4, 6]]

In [9]:
c[6]

[4, 6]

In [10]:
c[6][0]

4

In [11]:
a=[0,0,1.2,5,66,0,0,1.2]
a.count(0)

4

In [12]:
a.count(5)

1

In [13]:
a.count(4)

0

In [14]:
a.index(66)

4

In [15]:
a[4]

66

In [16]:
a.index(8)

ValueError: 8 is not in list

In [17]:
a.append('Tom')
a

[0, 0, 1.2, 5, 66, 0, 0, 1.2, 'Tom']

In [18]:
a.append([0,3])
a

[0, 0, 1.2, 5, 66, 0, 0, 1.2, 'Tom', [0, 3]]

In [21]:
a.extend([1,2])
a

[0, 0, 1.2, 5, 66, 0, 0, 1.2, 'Tom', [0, 3], 1, 2]

In [22]:
a.insert(1,'Jerry')
a

[0, 'Jerry', 0, 1.2, 5, 66, 0, 0, 1.2, 'Tom', [0, 3], 1, 2]

In [24]:
a.pop(5)

66

In [31]:
a=[0,5,6.3,89,1,5]
a.sort()
a

[0, 1, 5, 5, 6.3, 89]

In [33]:
a=[0,58,2,6,22]
b=sorted(a)
print(a)
print(b)

[0, 58, 2, 6, 22]
[0, 2, 6, 22, 58]

In [36]:
a.reverse()
print(a)

[22, 6, 2, 58, 0]